@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #f6a5c0; 
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fffafa; /* almost white baby pink */
    overflow-x: hidden;
  }
}

.recharts-bar-rectangle:hover {
  fill: rgba(236, 72, 153, 0.25) !important;
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-gray-700
  bg-pink-50 rounded px-4 py-3 mb-4 mt-3
  border border-pink-100 outline-none
  focus:border-pink-300;
}


.btn-primary {
  @apply w-full text-sm font-medium text-white
  bg-pink-400 shadow-lg shadow-pink-300/20
  p-[10px] rounded-md my-1
  hover:bg-pink-300;
}


.card {
  @apply bg-white p-6 rounded-2xl
  shadow-md shadow-pink-100
  border border-pink-100;
}

.card-btn {
  @apply flex items-center gap-3 text-[12px] font-medium text-gray-700
  bg-pink-50 hover:bg-pink-100 hover:text-pink-600
  px-4 py-1.5 rounded-lg
  border border-pink-100 cursor-pointer;
}


.add-btn {
  @apply flex items-center gap-1.5 text-xs md:text-sm font-medium
  text-pink-600 whitespace-nowrap
  bg-pink-50 border border-pink-200
  rounded-lg px-4 py-2 cursor-pointer
  hover:bg-pink-100;
}

.add-btn-fill {
  @apply text-white bg-pink-400 hover:bg-pink-300;
}
