.login-page-wrapper {
  background-color: rgb(247, 169, 182);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-modal {
  background-color: #fff;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.profile-modal {
  background-color: #fff;
  border-radius: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.login-subtitle {
  font-size: 30px;
  padding: 0 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(255, 176, 190);
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.login-p {
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Inter";
}

.login-login {
  width: 100%;
  height: 30px;
  background-color: #ffc0cb;
  color: rgb(255, 255, 255);
  font-weight: 750;
  border: none;
  border-radius: 6px;
}

.login-login:hover {
  background-color: rgb(255, 151, 169);
  cursor: pointer;
}

.login-input {
  border: none;
  border-bottom: 1px solid rgb(156, 166, 175);
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 800;
  color: rgb(87, 91, 95);
}

.login-input::placeholder {
  color: rgb(169, 169, 169);
}

.login-input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(206, 226, 242);
}

.login-img {
  width: 70%;
  padding-top: 30px;
}

.login-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.login-link {
  color: rgb(255, 81, 110);
}

.login-error {
  color: red;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 14px;
}
.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.label-text {
  font-size: 18px;
  color: rgb(62, 62, 62);
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
